<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>826839111603-m6n4f3hp2qeqr3noafmr54oc93if4ddq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826839111603-m6n4f3hp2qeqr3noafmr54oc93if4ddq</string>
	<key>API_KEY</key>
	<string>AIzaSyBdrrZ7Qg_X2HBJ_4fo-YstsH1qDUhpldc</string>
	<key>GCM_SENDER_ID</key>
	<string>826839111603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srinul.shshackapps</string>
	<key>PROJECT_ID</key>
	<string>geoquestadventure-90797</string>
	<key>STORAGE_BUCKET</key>
	<string>geoquestadventure-90797.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:826839111603:ios:9f6b9d2cc7272a53</string>
	<key>DATABASE_URL</key>
	<string>https://geoquestadventure-90797.firebaseio.com</string>
</dict>
</plist>
